---
import Test from '../layouts/Test.astro'
import { Content } from '../components/test.md'
import { Some } from '../components/Some'
---
<Test>
    <Some client:load>
        <Fragment slot="sup">
            <Content/>
            <Content/>
        </Fragment>
    </Some>
    <a href="nouns/">Nouns</a>
</Test>